<div id="tf-works">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-2">
				<!--Sidebar content-->
				<p>
					Search: <input ng-model="$ctrl.query" />
				</p>
				<p>
					Sort by: <select ng-model="$ctrl.orderProp">
						<option value="name">Alphabetical</option>
						<option value="age">Newest</option>
					</select>
				</p>
			</div>
			<div class="col-md-8">
				<!--Body content-->
				<ul class="candidates">
					<li
						ng-repeat="candidate in $ctrl.candidates | filter:$ctrl.query | orderBy:$ctrl.orderProp"
						class="thumbnail phone-list-item"><a
						href="#!/candidate/{{candidate.id}}" class="thumb"> <img
							ng-src="{{candidate.imageUrl}}" alt="{{candidate.name}}" />
					</a> <a href="#/candidate/{{candidate.id}}">{{candidate.name}}</a>
						<p>{{candidate.title}}</p></li>
				</ul>

			</div>
		</div>
	</div>
</div>
