<!-- Services Section
    ==========================================-->
<div id="tf-services" class="text-center">
	<div class="container">
		<div class="section-title center">
			<h2>
				<strong>ADD NEW ADMINISTRATOR </strong>
			</h2>
			<div class="line">
				<hr>
			</div>
			<div class="clearfix"></div>

		</div>
		<div class="space"></div>
		<form>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for="todo">First name</label> <input type="text"
							class="form-control" id="todo" placeholder="First name">
					</div>
					<div class="form-group">
						<label for="todo">Last name</label> <input type="text"
							class="form-control" id="todo" placeholder="Last name">
					</div>
					<div class="form-group">
						<label for="todo">Email</label> <input type="text"
							class="form-control" id="todo" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="todo">Password</label> <input type="password"
							class="form-control" id="todo" placeholder="password">
					</div>
					<div class="form-group">
						<label for="todo">Confirm password</label> <input type="password"
							class="form-control" id="todo" placeholder="Confirm password">
					</div>
					<div class="form-group">
						<label for="todo">Current Carreer level</label> <input type="text"
							class="form-control" id="todo"
							placeholder="Current Carreer level">
					</div>
					<div class="row"><div class="col-md-8 col-md-offset-0">
						<label> <input type="checkbox"
							ng-model="checkboxModel.value1"> Is Super Administrator
						</label>
					</div></div>
				</div>

				<div class="col-md-8 col-md-offset-2">
					<button type="submit" class="btn tf-btn btn-default">ADD
						now</button>
				</div>

			</div>
		</form>
	</div>
</div>