<!-- About Us Page
    ========================================== --> 
<div id="tf-about">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img src="template_components/img/logo-no-margin.svg"
					class="img-blackshell logo-img">
			</div>
			<div class="col-md-6">
				<div class="about-text">
					<div class="section-title">
						<h2>
							Some words <strong>about us</strong>
						</h2>
						<hr>
						<div class="clearfix"></div>
					</div>
					<p class="intro">Black Shell is a Software Development Company
						specialized in Financial Enterprises products in the Benelux area.</p>
					<ul class="about-list">

						<li><span class="fa fa-dot-circle-o"></span> <strong>Frontend</strong>
							- <em>Creating amazing interactive interfaces with the most
								recent JavaScript frameworks: React and AngularJS</em></li>
						<li><span class="fa fa-dot-circle-o"></span> <strong>Backend</strong>
							- <em>Employing the most robust and secure technology for
								enterprises: J2EE</em></li>
						<li><span class="fa fa-dot-circle-o"></span> <strong>Project
								Management</strong> - <em>Guaranteeing the project delivering
								applying the best Agile methodologies </em></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Log In Page
    ==========================================-->
<div id="tf-team" class="text-center" ng-show="useraccess(0)" onSubmit="return false;">
	<div class="overlay">
		<div class="container">
			<div class="section-title center">
				<h2>
					<strong>Log In</strong>
				</h2>
				<div class="line">
					<hr>
				</div>
			</div>

			<div>
				<form name="form" action='/' ng-submit="$ctrl.login()" role="form">
					<div class="col-md-6 col-md-offset-3">
						<div class="row">

							<div class="form-group">
								<label for="inputEmail">Email address</label> <input
									class="form-control" id="inputEmail" ng-model="email"
									name="inputEmail" placeholder="Enter email">
								<!-- ffff{{email}}ffff -->
								<span ng-show='$ctrl.addemail' class="help-block color">Email
									address is required </span>
							</div>
						</div>


						<div class="row">

							<div class="form-group">
								<label for="exampleInputPassword1">Password</label> <input
									type="password" class="form-control" id="InputPassword"
									ng-model="password" name="InputPassword" placeholder="Password">

								<!-- 									ffff{{password}}ffff -->
								<span ng-show='$ctrl.addpassword' class="help-block color">Password
									is required </span>
							</div>
						</div>
						<div class="col-md-8 col-md-offset-2">
							<span ng-show='$ctrl.incorrectident' class="help-block color">
								<strong>Whoops, we noticed something incorrect...</strong> <small>You
									have entered an invalid email and/or password.</small>
							</span>
						</div>
						<div class="col-md-3 col-md-offset-5">
<!-- 							<button type="button" ng-click="$ctrl.login()" -->
<!-- 								class="btn tf-btn btn-default">Log In</button> -->
<button type="submit" class="btn tf-btn btn-default">LOG IN</button>
				
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Services Section
    ==========================================-->
<div id="tf-services" class="text-center" ng-show="useraccess(0)">
	<div class="container">
		<div class="section-title center">
			<h2>
				<strong>Sign Up, </strong>it's free.
			</h2>
			<div class="line">
				<hr>
			</div>
			<div class="clearfix"></div>
			<p>
				<small><em>Find insider connections to better
						opportunities Already have a BlackShell account? <a
						href="#tf-team">Sign in</a>
				</em></small>
			</p>
			<p>
				<small><em>We'll never share your email with anyone
						else. </em></small>
			</p>
		</div>
		<div class="space"></div>
		<form>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="form-group">
						<label for="todo">First name</label> <input type="text"
							class="form-control" id="todo" placeholder="First name">
					</div>
					<div class="form-group">
						<label for="todo">Last name</label> <input type="text"
							class="form-control" id="todo" placeholder="Last name">
					</div>
					<div class="form-group">
						<label for="todo">Email</label> <input type="text"
							class="form-control" id="todo" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="todo">Password</label> <input type="password"
							class="form-control" id="todo" placeholder="password">
					</div>
					<div class="form-group">
						<label for="todo">Confirm password</label> <input type="password"
							class="form-control" id="todo" placeholder="Confirm password">
					</div>
					<div class="form-group">
						<label for="todo">Country</label> <input type="text"
							class="form-control" id="todo" placeholder="Country">
					</div>
					<div class="form-group">
						<label for="todo">Current Carreer level</label> <input type="text"
							class="form-control" id="todo"
							placeholder="Current Carreer level">
					</div>
					<div class="form-group">
						<label for="todo">Education level</label> <select
							class="form-control" id="todo">
							<option value=""></option>
							<option value="2">A Levels or High National</option>
							<option value="3">Bachelor</option>
							<option value="4">Master's Degree</option>
							<option value="5">Phd</option>

						</select>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<button type="submit" class="btn tf-btn btn-default">Join
						now</button>
				</div>

			</div>
		</form>
	</div>
</div>

<!-- Testimonials Section
    ==========================================-->
<div id="tf-testimonials" class="text-center">
	<div class="overlay">
		<div class="container">
			<div class="section-title center">
				<h2>
					<strong> BlackShell </strong>
				</h2>
				<div class="line">
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Contact Section
    ==========================================-->
<div id="tf-contact" class="text-center">
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<div class="section-title center">
					<h2>
						Feel free to <strong>contact us</strong>
					</h2>
					<div class="line">
						<hr>
					</div>
					<div class="clearfix"></div>
					<div>
						<strong><em>Customer Support</em></strong>
					</div>
					<div>
						<em> <!-- 						<strong>Phone: </strong><small>+32494438242</small>  -->
							<strong>Email:</strong> <small>info@blackshell.eu</small>
						</em>
					</div>
				</div>

				<form>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="form-group">
								<label for="inputName">Name</label> <input type="text"
									class="form-control" id="exampleInputEmail1"
									placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-8 col-md-offset-2">
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label> <input
									type="email" class="form-control" id="exampleInputEmail1"
									placeholder="Your Email">
							</div>
						</div>
						<div class="col-md-8 col-md-offset-2">
							<div class="form-group">
								<label for="exampleInputPassword1">Subject</label> <input
									type="text" class="form-control" id="exampleInputPassword1"
									placeholder="Subject">
							</div>
						</div>
						<div class="col-md-8 col-md-offset-2">
							<div class="form-group">
								<label for="exampleInputEmail1">Message</label>
								<textarea class="form-control" rows="3"
									placeholder="Your message"></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<button type="submit" class="btn tf-btn btn-default">SEND
							MESSAGE</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

