<!-- name begin-->
<div ng-show="tabShow[0]" class="ng-show">
	<div class="panel panel-primary">
		<div class="panel-heading">Name</div>
		<div class="panel-body">
			<label class="control-label">{{$ctrl.candidate.name}}</label>
		</div>
	</div>
</div>
<!-- end name  form -->
<!-- name and title form begin-->
<div ng-show="tabShow[5]" class="ng-show">
	<div class="panel panel-primary">
		<div class="panel-heading">Title</div>
		<div class="panel-body">
			<label class="control-label">{{$ctrl.candidate.title}}</label>
		</div>
	</div>
</div>
<!-- end name and title form -->
<!-- begin projects form -->
<div ng-show="tabShow[1]" class="ng-show">
	<div class="form-group" show-errors>
		<div ng-repeat="project in $ctrl.candidate.projects track by $index"
			ng-init="indexProject = $index">
			<div class="panel panel-primary">
				<div class="panel-heading">Project {{$index + 1}}</div>
				<div class="panel-body">
					<table class="table table-condensed">
						<tr class="info">
							<td>Employer</td>
							<td>{{$ctrl.candidate.projects[indexProject].employer}}</td>
						</tr>
						<tr>
							<td>Title</td>
							<td>{{$ctrl.candidate.projects[indexProject].title}}</td>
						</tr>
						<tr class="info">
							<td>Tasks
								</h4>
							</td>
							<td>
								<table class="table">
									<tr class="info"
										ng-repeat="task in $ctrl.candidate.projects[indexProject].tasks track by $index"
										ng-init="indexTask = $index">
										<td>{{$ctrl.candidate.projects[indexProject].tasks[indexTask]}}
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>Start date
								</h4>
							</td>
							<td>{{$ctrl.candidate.projects[indexProject].dateRange.begin}}</td>
						</tr>
						<tr class="info">
							<td>End date
								</h4>
							</td>
							<td>{{$ctrl.candidate.projects[indexProject].dateRange.end}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end projects form -->
<!-- Begin skills form -->
<div ng-show="tabShow[2]" class="ng-show">
	<div class="panel panel-primary">
		<div class="panel-heading">Skills</div>
		<div class="panel-body">
			<table class="table">
				<tr ng-repeat="skill in $ctrl.candidate.skills track by $index">
					<td>{{$ctrl.candidate.skills[$index]}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- End skills form -->
<!-- Begin educations form -->
<div ng-show="tabShow[3]" class="ng-show">
	<div
		ng-repeat="education in $ctrl.candidate.educations track by $index">
		<div class="panel panel-primary">
			<div class="panel-heading">Education {{$index + 1}}</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<tr class="info">
						<td>School</td>
						<td>{{$ctrl.candidate.educations[$index].school}}</td>
					</tr>
					<tr>
						<td>Title</td>
						<td>{{$ctrl.candidate.educations[$index].title}}</td>
					</tr>
					<tr class="info">
						<td>Start date</td>
						<td>{{$ctrl.candidate.educations[$index].dateRange.begin}}</td>
					</tr>
					<tr>
						<td>End date</td>
						<td>{{$ctrl.candidate.educations[$index].dateRange.end}}</td>
					</tr>
				</table>
			</div>
		</div>
		<p></p>
	</div>
</div>
<!-- End Educations form -->
<!-- Begin interests form begin -->
<div ng-show="tabShow[4]" class="ng-show">
	<div class="panel panel-primary">
		<div class="panel-heading">Interests</div>
		<div class="panel-body">
			<table class="table">
				<tr
					ng-repeat="interest in $ctrl.candidate.interests track by $index">
					<td>{{$ctrl.candidate.interests[$index]}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- End interests form -->
<!--<div class="row">
  <div class="col-md-10 col-md-offset-0">
      <button class="btn btn-primary" ng-click="setShowRightPanel(2)">Edit Resume</button>
  </div>
</div>-->
