<!-- end Home Page
    ========================================== -->

<!-- preview resume
    ==========================================-->
<div id="tf-works">
	<div class="container">
		<!-- Container -->
		<div class="section-title text-center center">
			<div>
				<img src="template_components/img/team/01.jpg" alt="..."
					class="img-circle team-img">
			</div>
			<p></p>

			<p></p>
			<div>
				<h2>
					<strong> {{$ctrl.candidate.name}}</strong>
				</h2>
			</div>
			<p></p>
			<!-- 					<div> -->
			<!-- 						<h2>{{$ctrl.candidate.title}}</h2> -->
			<!-- 					</div> -->
			<div class="line">
				<hr>
			</div>
			<div class="clearfix"></div>
			<em>{{$ctrl.candidate.title}}</em>
		</div>
		<div class="space"></div>
		<div class="row">

			<div class=" col-md-offset-2  col-sm-2 col-md-2 col-lg-2 ">

				<ol class="myleftnav">
					<ul>

						<li><a href ng-click="$ctrl.setShow(0)"> <span
								class="color" ng-show="tabShow[0]"> <strong>Contact</strong>
							</span> <span ng-show="!tabShow[0]"> <strong>Contact</strong>
							</span>
						</a></li>

						<li><a href ng-click="$ctrl.setShow(1)"> <span
								class="color" ng-show="tabShow[1]"><strong>Projects</strong></span>
								<span ng-show="!tabShow[1]"><strong>Projects</strong></span>
						</a></li>


						<li><a href ng-click="$ctrl.setShow(2)"> <span
								class="color" ng-show="tabShow[2]"><strong>Skills</strong></span>
								<span ng-show="!tabShow[2]"><strong>Skills</strong></span>
						</a></li>
						<li><a href ng-click="$ctrl.setShow(3)"> <span
								class="color" ng-show="tabShow[3]"><strong>Educations</strong></span>
								<span ng-show="!tabShow[3]"><strong>Educations</strong></span>
						</a></li>

						<li><a href ng-click="$ctrl.setShow(4)"> <span
								class="color" ng-show="tabShow[4]"><strong>Interests</strong></span>
								<span ng-show="!tabShow[4]"><strong>Interests</strong></span>
						</a></li>

					</ul>
				</ol>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-6">
				<!-- 				<div class="categories"> -->

				<!-- 					<ul class="cat col-md-offset-1 col-sm-8 col-md-8 col-lg-8 "> -->
				<!-- 												<li class="pull-left"><h4>Filter by Type:</h4></li> -->
				<!-- 						<li class="pull-right"></li> -->

				<!-- 						<li class="pull-left"> -->
				<!-- 							<ol class="type"> -->


				<!-- 								<li><a href ng-click="$ctrl.setShow(0)"> <span -->
				<!-- 										class="color" ng-show="tabShow[0]">Contact Information</span> -->
				<!-- 										<span ng-show="!tabShow[0]">Contact Information</span> -->
				<!-- 								</a></li> -->
				<!-- 								<li><a href ng-click="$ctrl.setShow(1)"> <span -->
				<!-- 										class="color" ng-show="tabShow[1]">Projects</span> <span -->
				<!-- 										ng-show="!tabShow[1]">Projects</span> -->
				<!-- 								</a></li> -->
				<!-- 								<li><a href ng-click="$ctrl.setShow(2)"> <span -->
				<!-- 										class="color" ng-show="tabShow[2]">Skills</span> <span -->
				<!-- 										ng-show="!tabShow[2]">Skills</span> -->
				<!-- 								</a></li> -->
				<!-- 								<li><a href ng-click="$ctrl.setShow(3)"> <span -->
				<!-- 										class="color" ng-show="tabShow[3]">Educations</span> <span -->
				<!-- 										ng-show="!tabShow[3]">Educations</span> -->
				<!-- 								</a></li> -->
				<!-- 								<li><a href ng-click="$ctrl.setShow(4)"> <span -->
				<!-- 										class="color" ng-show="tabShow[4]">Interests</span> <span -->
				<!-- 										ng-show="!tabShow[4]">Interests</span> -->
				<!-- 								</a></li> -->
				<!-- 								<li><a></a></li> -->
				<!-- 							</ol> -->
				<!-- 						</li> -->
				<!-- 					</ul> -->
				<!-- 					<div class="clearfix"></div> -->
				<!-- 				</div> -->

				<P></P>
				<P></P>
				<div id="lightbox" class="row">

					<!-- begin contact Information -->
					<div ng-show="tabShow[0]">
						<div class="panel panel-warning">
							<div class="panel-heading">Name</div>
							<div class="panel-body">
								<label class="control-label">{{$ctrl.candidate.name}}</label>
							</div>
						</div>
					</div>
					<div ng-show="tabShow[0]">
						<div class="panel panel-warning">
							<div class="panel-heading">Email Adress</div>
							<div class="panel-body">
								<label class="control-label">{{$ctrl.candidate.todo}}</label>
							</div>
						</div>
					</div>
					<div ng-show="tabShow[0]">
						<div class="panel panel-warning">
							<div class="panel-heading">Phone Number</div>
							<div class="panel-body">
								<label class="control-label">{{$ctrl.candidate.todo}}</label>
							</div>
						</div>
					</div>
					<div ng-show="tabShow[0]">
						<div class="panel panel-warning">
							<div class="panel-heading">Adress</div>
							<div class="panel-body">
								<label class="control-label">{{$ctrl.candidate.todo}}</label>
							</div>
						</div>
					</div>
					<!-- end contact Information -->
					<!-- begin proojects -->
					<!-- begin projects form -->
					<div ng-show="tabShow[1]">
						<div class="form-group" show-errors>
							<div
								ng-repeat="project in $ctrl.candidate.projects track by $index"
								ng-init="indexProject = $index">
								<div class="panel panel-warning">
									<div class="panel-heading">Project {{$index + 1}}</div>
									<div class="panel-body">
										<table class="table table-condensed">
											<tr>
												<td><strong>Employer</strong></td>
												<td>{{$ctrl.candidate.projects[indexProject].employer}}</td>
											</tr>
											<tr>
												<td><strong>Title</strong></td>
												<td>{{$ctrl.candidate.projects[indexProject].title}}</td>
											</tr>
											<tr>
												<td><strong>Tasks</strong></td>
												<td>
													<table class="table">
														<tr
															ng-repeat="task in $ctrl.candidate.projects[indexProject].tasks track by $index"
															ng-init="indexTask = $index">
															<td>{{$ctrl.candidate.projects[indexProject].tasks[indexTask]}}
															</td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td><strong>Start date</strong></td>
												<td>{{$ctrl.candidate.projects[indexProject].dateRange.begin}}</td>
											</tr>
											<tr>
												<td><strong>End date</strong></td>
												<td>{{$ctrl.candidate.projects[indexProject].dateRange.end}}</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end projects form -->
					<!-- end projects -->
					<!-- Begin skills form -->
					<div ng-show="tabShow[2]">
						<div class="panel panel-warning">
							<div class="panel-heading">Skills</div>
							<div class="panel-body">
								<table class="table">
									<tr ng-repeat="skill in $ctrl.candidate.skills track by $index">
										<td>{{$ctrl.candidate.skills[$index]}}</td>
									</tr>
									<tr>
										<td></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<!-- End skills form -->
					<!-- Begin educations form -->
					<div ng-show="tabShow[3]">
						<div
							ng-repeat="education in $ctrl.candidate.educations track by $index">
							<div class="panel panel-warning">
								<div class="panel-heading">Education {{$index + 1}}</div>
								<div class="panel-body">
									<table class="table table-condensed">
										<tr>
											<td>School</td>
											<td>{{$ctrl.candidate.educations[$index].school}}</td>
										</tr>
										<tr>
											<td>Title</td>
											<td>{{$ctrl.candidate.educations[$index].title}}</td>
										</tr>
										<tr>
											<td>Start date</td>
											<td>{{$ctrl.candidate.educations[$index].dateRange.begin}}</td>
										</tr>
										<tr>
											<td>End date</td>
											<td>{{$ctrl.candidate.educations[$index].dateRange.end}}</td>
										</tr>
									</table>
								</div>
							</div>
							<p></p>
						</div>
					</div>
					<!-- End Educations form -->
					<!-- Begin interests form begin -->
					<div ng-show="tabShow[4]">
						<div class="panel panel-warning">
							<div class="panel-heading">Interests</div>
							<div class="panel-body">
								<table class="table">
									<tr
										ng-repeat="interest in $ctrl.candidate.interests track by $index">
										<td>{{$ctrl.candidate.interests[$index]}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<!-- End interests form -->
				</div>
			</div>
			<!-- 			</div> -->


		</div>

	</div>
</div>


<style>
ol.myleftnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol.myleftnav li a {
	display: block;
	width: 60%;
}

ol.myleftnav li button {
	display: block;
	width: 60%;
}

ol.myleftnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60px;
}

ol.myleftnav li a {
	display: block;
}

ol.myleftnav li button {
	display: block;
}

ol.myleftnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	/*     background-color: #f1f1f1; */
}

ol.myleftnav li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
ol.myleftnav li a:hover {
	background-color: black;
	color: white;
}

ol.myleftnav .active {
	background-color: #4CAF50;
	color: white;
}
</style>