<!-- begin preview/edit resume
    ==========================================-->
<div id="tf-works">
	<div class="container">
		<!-- Container -->
		<div class="section-title text-center center">
			<div>
				<img src="template_components/img/team/01.jpg" alt="..."
					class="img-circle team-img">
			</div>
			<p></p>

			<p></p>
			<div>
				<h2>
					<strong> {{$ctrl.candidate.name}}</strong>
				</h2>
			</div>
			<p></p>
			<!-- 					<div> -->
			<!-- 						<h2>{{$ctrl.candidate.title}}</h2> -->
			<!-- 					</div> -->
			<div class="line">
				<hr>
			</div>
			<div class="clearfix"></div>
			<em>{{$ctrl.candidate.title}}</em>
		</div>
		<div class="space"></div>

		<P></P>
		<P></P>
		<div class="row">

			<div class=" col-md-offset-2  col-sm-2 col-md-2 col-lg-2 ">

				<ol class="myleftnav">
					<ul>

						<li><a href ng-click="$ctrl.setShow(0)"> <span
								class="color" ng-show="tabShow[0]"> <strong>Contact</strong>
							</span> <span ng-show="!tabShow[0]"> <strong>Contact</strong>
							</span>
						</a></li>

						<li><a href ng-click="$ctrl.setShow(1)"> <span
								class="color" ng-show="tabShow[1]"><strong>Projects</strong></span>
								<span ng-show="!tabShow[1]"><strong>Projects</strong></span>
						</a></li>


						<li><a href ng-click="$ctrl.setShow(2)"> <span
								class="color" ng-show="tabShow[2]"><strong>Skills</strong></span>
								<span ng-show="!tabShow[2]"><strong>Skills</strong></span>
						</a></li>
						<li><a href ng-click="$ctrl.setShow(3)"> <span
								class="color" ng-show="tabShow[3]"><strong>Educations</strong></span>
								<span ng-show="!tabShow[3]"><strong>Educations</strong></span>
						</a></li>

						<li><a href ng-click="$ctrl.setShow(4)"> <span
								class="color" ng-show="tabShow[4]"><strong>Interests</strong></span>
								<span ng-show="!tabShow[4]"><strong>Interests</strong></span>
						</a></li>

					</ul>
				</ol>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-6">
				<!-- ==========================================-->
				<!-- begin contact Information -->

				<div ng-show="tabShow[0]" class="contact">

					<div class="panel panel-warning" ng-show="! editpreviewtabShow">
						<div class="panel-heading">Name</div>
						<div class="panel-body">
							<input type="text" class="form-control"
								ng-model="$ctrl.candidate.name" />
						</div>
					</div>
					<div class="panel panel-warning" ng-show="! editpreviewtabShow">
						<div class="panel-heading">Email Adress</div>
						<div class="panel-body">
							<input type="text" class="form-control"
								ng-model="$ctrl.candidate.emailtodo" />
						</div>
					</div>

					<div class="panel panel-warning" ng-show="! editpreviewtabShow">
						<div class="panel-heading">Phone Number</div>
						<div class="panel-body">
							<input type="text" class="form-control"
								ng-model="$ctrl.candidate.phone.todo" />
						</div>
					</div>

					<div class="panel panel-warning" ng-show="! editpreviewtabShow">
						<div class="panel-heading">Adress</div>
						<div class="panel-body">
							<input type="text" class="form-control"
								ng-model="$ctrl.candidate.adress.todo" />
						</div>
					</div>

				</div>
				<!-- ==========================================-->
				<!-- end contact Information -->
				<!-- ==========================================-->
				<!-- begin projects form -->
				<!-- ==========================================-->
				<div ng-show="tabShow[1]">
					<div class="form-group">



						<!-- begin projects edit form -->

						<div ng-show="! editpreviewtabShow">
							<div
								ng-repeat="project in $ctrl.candidate.projects track by $index"
								ng-init="indexProject = $index">
								<div class="panel panel-warning">
									<div class="panel-heading">Project {{$index + 1}}</div>
									<div class="panel-body">
										<label class="control-label">Employer</label> <input
											type="text" class="form-control" name="projects.employer"
											ng-model="$ctrl.candidate.projects[indexProject].employer" />
										<label class="control-label">Title</label> <input type="text"
											class="form-control" name="project.title"
											ng-model="$ctrl.candidate.projects[indexProject].title" /> <label
											class="control-label">Tasks</label>
										<button type="button"
											ng-click="$ctrl.addNewParameters($ctrl.candidate.projects[indexProject].tasks)"
											class="btn-link pull-right">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
											Tasks
										</button>
										<div
											ng-repeat="task in $ctrl.candidate.projects[indexProject].tasks track by $index"
											ng-init="indexTask = $index">
											<input type="text" class="form-control" name="project.tasks"
												ng-model="$ctrl.candidate.projects[indexProject].tasks[indexTask]" />
										</div>
										<label class="control-label">Date begin</label> <input
											datetime-picker class="form-control"
											name="project.dateRange.begin"
											ng-model="$ctrl.candidate.projects[indexProject].dateRange.begin" />
										<label class="control-label">Date end</label> <input
											datetime-picker class="form-control"
											name="project.dateRange.begin"
											ng-model="$ctrl.candidate.projects[indexProject].dateRange.end" />
									</div>
								</div>
							</div>
						</div>
						<button type="button"
							ng-click="$ctrl.addNewParameters($ctrl.candidate.projects)"
							class="btn-link pull-right">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Add Project
						</button>
					</div>

					<!-- end projects form -->

				</div>

				<!-- ==========================================-->
				<!-- end projects form -->
				<!-- ==========================================-->
				<!-- Begin skills form -->
				<!-- ==========================================-->
				<div ng-show="tabShow[2]">
					<!-- Begin edit skills form -->
					<div ng-show="! editpreviewtabShow">
						<div class="panel panel-warning">
							<div class="panel-heading">Skills</div>
							<div class="panel-body">
								<div ng-repeat="skill in $ctrl.candidate.skills track by $index">
									<input type="text" class="form-control"
										ng-model="$ctrl.candidate.skills[$index]" />
									<p></p>
								</div>
							</div>
						</div>
						<button type="button"
							ng-click="$ctrl.addNewParameters($ctrl.candidate.skills)"
							class="btn-link pull-right">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Add skills
						</button>
					</div>
					<!-- End skills form -->
				</div>
				<!-- ==========================================-->
				<!-- End skills form -->
				<!-- ==========================================-->
				<!-- Begin educations form -->
				<!-- ==========================================-->
				<div ng-show="tabShow[3]">

					<!-- Begin educations form -->


					<div ng-show="! editpreviewtabShow">
						<div
							ng-repeat="education in $ctrl.candidate.educations track by $index">
							<div class="panel panel-warning">
								<div class="panel-heading">Education {{$index + 1}}</div>
								<div class="panel-body">
									<label class="control-label">School</label> <input type="text"
										class="form-control" name="education"
										ng-model="$ctrl.candidate.educations[$index].school" required />
									<label class="control-label">Title</label> <input type="text"
										class="form-control" name="education"
										ng-model="$ctrl.candidate.educations[$index].title" required />
									<label class="control-label"> Start Date </label> <input 
										datetime-picker class="form-control" name="education"
										ng-model="$ctrl.candidate.educations[$index].dateRange.begin"
										required /> <label class="control-label"> End Date </label> <input
										datetime-picker class="form-control" name="education"
										ng-model="$ctrl.candidate.educations[$index].dateRange.end"
										required />
								</div>
							</div>
							<p></p>
						</div>
						<button type="button"
							ng-click="$ctrl.addNewParameters($ctrl.candidate.educations)"
							class="btn-link pull-right">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Add Education
						</button>
					</div>
					<!-- End Educations form -->


				</div>
				<!-- ==========================================-->
				<!-- End Educations form -->
				<!-- ==========================================-->
				<!-- Begin interests form begin -->
				<!-- ==========================================-->
				<div ng-show="tabShow[4]">
					<!-- Begin interests form begin -->
					<div class="panel panel-warning" ng-show="! editpreviewtabShow">
						<div class="panel-heading">Interests</div>
						<div class="panel-body">
							<div
								ng-repeat="interest in $ctrl.candidate.interests track by $index">
								<input type="text" class="form-control" name="interest"
									ng-model="$ctrl.candidate.interests[$index]" required />
								<p></p>
							</div>
						</div>
						<button type="button"
							ng-click="$ctrl.addNewParameters($ctrl.candidate.interests)"
							class="btn-link pull-right">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Add interests
						</button>

					</div>
					<!-- End interests form -->
				</div>
				<!-- ==========================================-->
				<!-- End interests form -->
				<!-- ==========================================-->
				<div class="col-md-offset-10  col-sm-2 col-md-2 col-lg-2">
					<button ng-show="! editpreviewtabShow" type="button"
						class="btn tf-btn btn-default">SAVE</button>
				</div>
			</div>
		
		</div>
	</div>
<!-- 	<div class="row"> -->
<!-- 		<div class="col-md-offset-8  col-sm-3 col-md-3 col-lg-3"> -->
<!-- 			<button ng-show="! editpreviewtabShow" type="button" -->
<!-- 				class="btn tf-btn btn-default">SAVE</button> -->
<!-- 		</div> -->
<!-- 	</div> -->
</div>

<style>
ol.myleftnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol.myleftnav li a {
	display: block;
	width: 60%;
}

ol.myleftnav li button {
	display: block;
	width: 60%;
}

ol.myleftnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60px;
}

ol.myleftnav li a {
	display: block;
}

ol.myleftnav li button {
	display: block;
}

ol.myleftnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	/*     background-color: #f1f1f1; */
}

ol.myleftnav li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
ol.myleftnav li a:hover {
	background-color: black;
	color: white;
}

ol.myleftnav .active {
	background-color: #4CAF50;
	color: white;
}
</style>

